DOMAIN=netsupport.dom
ORGANIZATION=NetSupport

LOCAL_DB=true
DB_HOST=psql
DB_PORT=5432
DB_TYPE=postgres
DB_USER=wikijs
DB_PASS=change_me
DB_NAME=wikijs

LDAP_TEST=true
LDAP_BASE_DN=dc=netsupport,dc=dom
LDAP_ADMIN_PASSWORD=change_me

SSL_CERT_NAME=wikijs